<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Лента событий</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>

        <link rel="stylesheet" href="/static/lib/mulsel/css/bootstrap-multiselect.css" type="text/css">
        <script type="text/javascript" src="/static/lib/mulsel/js/bootstrap-multiselect.js"></script>

        {% if device %}
        <script>
         $(document).ready(function(){
			update_messages( '{{ device }}' );

			$('#cmdB1').on('click', function(e){
                sendCmd(1,'{{ device }}');
            });
            $('#cmdB2').on('click', function(e){
                sendCmd(2,'{{ device }}');
            });

            $('#sel_parts').multiselect({
                allSelectedText: 'Все разделы',
                nonSelectedText: 'Разделы не выбраны',
                nSelectedText: 'выбрано',
                numberDisplayed: 5
            });

            $('#cmd_Exe').on('click', function(e){
                //sendCmd(2,'{{ device }}');
                parts = $('#sel_parts').val();
                rr = $('#sel_rr').val();
                cmd = $('#sel_cmd').val();
                sendCmdEx(cmd, '{{ device }}', rr, parts);

            });

	    });
        </script>
        {% else %}
        <script>

        </script>
        {% end %}
    </head>
    <body >
 	<div class="container">
        <div class="row">
            {% if device %}
            <div class="col-md-9">

                <div class="panel panel-primary" id = "cmd_panel">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Контроллер {{ device }}</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 for="sel_cmd">Команда</h4>
                                <select class="form-control" id="sel_cmd">
                                    <option value="1">Постановка на охрану</option>
                                    <option selected value="2">Снять с охраны</option>
                                    <option value="3">Сброс</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <h4 for="sel_parts">Разделы</h4>
                                <select id="sel_parts" multiple="multiple">
                                    <option value="1"> 1</option>
                                    <option value="2"> 2</option>
                                    <option value="3"> 3</option>
                                    <option value="4"> 4</option>
                                    <option value="5"> 5</option>
                                    <option value="6"> 6</option>
                                    <option value="7"> 7</option>
                                    <option value="8"> 8</option>
                                    <option value="9"> 9</option>
                                    <option value="10"> 10</option>
                                    <option value="11"> 11</option>
                                    <option value="12"> 12</option>
                                    <option value="13"> 13</option>
                                    <option value="14"> 14</option>
                                    <option value="15"> 15</option>
                                    <option value="16"> 16</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <h4 for="sel_parts">РР</h4>
                                <select class="form-control" id="sel_rr">
                                    <option value="0"> РР0</option>
                                    <option value="1"> РР1</option>
                                    <option value="2"> РР2</option>
                                    <option value="3"> РР3</option>
                                    <option value="4"> РР4</option>
                                    <option value="5"> РР5</option>
                                    <option value="6"> РР6</option>
                                    <option value="7"> РР7</option>
                                    <option value="8"> РР8</option>
                                    <option value="9"> РР9</option>
                                    <option value="10"> РР10</option>
                                    <option value="11"> РР11</option>
                                    <option value="12"> РР12</option>
                                    <option value="13"> РР13</option>
                                    <option value="14"> РР14</option>
                                    <option value="15"> РР15</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <h4>&nbsp;</h4>
                                <button type="button" class="btn btn-primary"  id = "cmd_Exe" >Отправить команду</button>
                            </div>
                        </div>
                        <!--<div class="btn-group">-->
                            <!--<button type="button" class="btn btn-primary"  id = "cmdB1" >Постановка на охрану</button>-->
                            <!--<button type="button" class="btn btn-primary"  id = "cmdB2" >Снять с охраны</button>-->
                        <!--</div>-->
                    </div>

                </div>
            </div>
            {% else %}
             <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Контроллер</h3></div>
                    <div class="panel-body">
                        <form action="/addsensor" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary"  id = "cmdAddDevice" >Добавить контроллер</button>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="sensor" id="inputName" class="form-control" placeholder="0000000000000001" required autofocus>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% end %}
            <div class="col-md-3">
                <div class="panel panel-primary" id = "logout_panel">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Пользователь {{ user }}</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                    <form action="/logout" method="get">
                                        <button type="submit" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-log-out"></span> Выход</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% if device %}
	<div class="container">
		<div id="chat-messages_1" class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-list-alt"></span> Cобытия Sagittarius</h3></div>
			<div class="panel-body" id="div_body">
				<table class="table table-striped" id="table_event">
					<tr>
					<th>Устройство</th>
					<th>Событие</th>
					<th>Время</th>
					</tr>
                </table>
			</div>
		</div>
	</div>
    {% end %}
     </body>
</html>