<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Лента событий</title>
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/main.js"></script>
        {% if device %}
        <script>
         $(document).ready(function(){
			update_messages( '{{ device }}' );

			$('#cmdB1').on('click', function(e){
                sendCmd(1,'{{ device }}');
            });
            $('#cmdB2').on('click', function(e){
                sendCmd(2,'{{ device }}');
            });
;
		});
        </script>
        {% else %}
        <script>

        </script>
        {% end %}
    </head>
    <body >
 	<div class="container">
        <div class="row">
            {% if device %}
            <div class="col-md-9">

                <div class="panel panel-primary" id = "cmd_panel">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Контроллер {{ device }}</h3></div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary"  id = "cmdB1" >Постановка на охрану</button>
                            <button type="button" class="btn btn-primary"  id = "cmdB2" >Снять с охраны</button>
                        </div>
                    </div>

                </div>
            </div>
            {% else %}
             <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-cog"></span> Контроллер</h3></div>
                    <div class="panel-body">
                        <form action="/addsensor" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary"  id = "cmdAddDevice" >Добавить контроллер</button>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="sensor" id="inputName" class="form-control" placeholder="0000000000000001" required autofocus>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% end %}
            <div class="col-md-3">
                <div class="panel panel-primary" id = "logout_panel">
                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Пользователь {{ user }}</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                    <form action="/logout" method="get">
                                        <button type="submit" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-log-out"></span> Выход</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% if device %}
	<div class="container">
		<div id="chat-messages" class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-list-alt"></span> Cобытия Sagittarius</h3></div>
			<div class="panel-body chat-messages" id="div_body">
				<table class="table table-striped" id="table_event">
					<tr>
					<th>Устройство</th>
					<th>Событие</th>
					<th>Время</th>
					</tr>
                </table>
			</div>
		</div>
	</div>
    {% end %}
     </body>
</html>